.bx-im-message-media-content__container {
	position: relative;
	--bx-im-elements-media-gallery-template-columns: 101px 50px 50px 101px;
}

.bx-im-message-media-content__gallery {
	max-height: 364px;
}

.bx-im-message-media-content__single-video {
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 100%;
	border-radius: 6px;
}

.bx-im-message-media-content__status-container {
	position: absolute;
	right: 6px;
	bottom: 6px;
	z-index: 2;
}
