.ui-transform-canvas.--dragging {
	user-select: none;
}

.ui-transform-canvas {
	position: relative;
	overflow: hidden;
	width: 100%;
	height: 100%;
	background-size: auto;
	background-repeat: repeat;
	transition: background-size 0.2s ease-out;
}

.ui-transform-canvas__transform {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	transform-origin: 0 0;
	transition: transform 0.2s ease-out;
}
