.vote__question {
	margin-bottom: 15px;
	padding-right: 35px;
}

.vote__question-text {
	color: var(--ui-color-base-default);
	font-style: normal;
	font-size: var(--ui-font-size-lg);
	font-weight: var(--ui-font-weight-semi-bold);
	line-height: var(--ui-font-line-height-2xs);
	overflow-wrap: break-word;
}

.vote__notice {
	color: #a8adb4;
	font-size: var(--ui-font-size-xs);
	font-weight: var(--ui-font-weight-normal);
	line-height: var(--ui-font-line-height-3xs);
	display: block;
	user-select: none;
}

.vote__answer {
	display: flex;
	align-items: center;
}

.vote__answer + .vote__answer {
	margin-top: 10px;
}

.vote__answer-text {
	color: var(--ui-color-base-default);
	font-size: var(--ui-font-size-md);
	font-weight: var(--ui-font-weight-medium);
	line-height: var(--ui-font-line-height-2xs);
	display: inline-block;
	z-index: 1;
	position: relative;
	height: 100%;
	padding: 8px 50px 10px 16px;
	cursor: pointer;
	word-break: break-word;
	width: 100%;
	transition: color .2s linear;
}

.vote__answer.--selected .vote__answer-text {
	color: var(--ui-color-base-solid);
}

.vote__progress-bar {
	width: 100%;
	border-radius: 8px;
	background: #edf7ff;
	position: relative;
	display: flex;
	align-items: center;
	padding-right: 9px;
	transition: background-color .2s linear;
}

.vote__progress-bar:hover {
	background-color: #c4e6ff;
}

.vote__progress-bar-fill {
	border-radius: 12px;
	background: #c4e6ff;
	height: 100%;
	position: absolute;
	top: 0;
	--target-width: 0%;
	width: var(--target-width);
	transition: width .2s linear .3s;
}

.vote__progress-bar-filled-enter-from {
	width: 0;
}

/* percent animation */
.vote__answer-percent-show-enter-active {
	transition: opacity .2s linear;
}

.vote__answer-percent-show-leave-active {
	transition: opacity .2s linear;
}

.vote__answer-percent-show-enter-from,
.vote__answer-percent-show-leave-to {
	opacity: 0;
}

/* progress-bar animation */
.vote__progress-bar-filled-leave-active {
	transition: opacity .2s linear;
}

.vote__progress-bar-filled-leave-to {
	opacity: 0;
}

.vote__answer-percent {
	color: rgba(var(--ui-color-base-default-rgb), 0.5);
	text-align: right;
	font-size: var(--ui-font-size-sm);
	line-height: var(--ui-font-line-height-2xs);
	margin-left: auto;
	flex-shrink: 0;
	z-index: 1;
	position: absolute;
	right: 9px;
}

.vote__answer-percent span {
	color: rgba(var(--ui-color-palette-black-solid-rgb), 0.7);
	font-size: 17px;
	font-weight: var(--ui-font-weight-semi-bold);
}

.vote__answer.--selected .vote__answer-percent span {
	color: var(--ui-color-palette-black-solid);
}

.bx-im-message-base__wrap.--self .vote__progress-bar {
	background: #dafda8;
}

.bx-im-message-base__wrap.--self .vote__progress-bar:hover,
.bx-im-message-base__wrap.--self .vote__progress-bar-fill {
	background-color: #c2f17e;
}

.bx-im-message-base__wrap.--has-error .vote__progress-bar {
	background: rgba(var(--ui-color-base-solid-rgb), 0.08);
}

.bx-im-message-base__wrap.--has-error .vote__answer-text {
	opacity: .5;
}

.vote__answer-inner {
	width: 100%;
}

.vote__answer-select {
	position: absolute;
	opacity: 0;
	width: 0;
	height: 0;
}

.vote__answer-select.--checkbox + .vote__progress-bar .vote__answer-text:before {
	content: '';
	display: block;
	position: absolute;
	right: 5px;
	width: 16px;
	height: 16px;
	border-radius: 12px;
	border: 1px solid #ebebeb;
	background-color: #fff;
	top: 50%;
	transform: translateY(-50%);
	opacity: 1;
	transition: opacity .7s linear;
}

.vote__answer:hover .vote__answer-select.--checkbox + .vote__progress-bar .vote__answer-text:before {
	border-color: #1f86ff;
}

.vote__answer.--selected .vote__answer-select.--checkbox + .vote__progress-bar .vote__answer-text:before,
.bx-im-message-base__wrap.--self .vote__answer.--selected .vote__answer-select.--checkbox + .vote__progress-bar .vote__answer-text:before {
	background: #1f86ff url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='11' height='8' fill='none'%3E%3Cpath fill='%23fff' fill-rule='evenodd' d='M10.279.433a.55.55 0 0 1-.002.778L3.89 7.573a.55.55 0 0 1-.776 0l-2.9-2.888a.55.55 0 1 1 .775-.78l2.513 2.502 6-5.975a.55.55 0 0 1 .778.001Z' clip-rule='evenodd'/%3E%3C/svg%3E") no-repeat center;
	border-color: #1f86ff;
}

.bx-im-message-base__wrap.--self .vote__answer.--selected .vote__answer-select.--checkbox + .vote__progress-bar {
	background: #dafda8;
}

.bx-im-message-base__wrap.--self .vote__answer-select.--checkbox + .vote__progress-bar .vote__answer-text:before {
	border-color: #c9e99b;
}

.vote__answers.--voted .vote__answer-select.--checkbox + .vote__progress-bar .vote__answer-text:before {
	opacity: 0;
}

.vote__answer.--selected .vote__progress-bar-fill {
	background: #92c5ff;
}

.bx-im-message-base__wrap.--self .vote__answer.--selected .vote__progress-bar-fill {
	background: #9fe043;
}

.vote__answers {
	margin-bottom: 17px;
}

.vote__answers.--voted {
	pointer-events: none;
}

.vote__answers.--voted .vote__answer-percent {
	pointer-events: auto;
	cursor: default;
}

.bx-im-message-base__wrap.--self .vote__answers.--voted .vote__progress-bar:hover {
	background: #dafda8;
}

.vote__answer.--selected .vote__answer:hover,
.vote__answers.--voted .vote__progress-bar:hover {
	background: #edf7ff;
}

.vote__notice-text + .vote__notice-text {
	padding-left: 14px;
	position: relative;
}

.vote__notice-text + .vote__notice-text:before {
	content: '';
	display: inline-block;
	width: 2px;
	height: 2px;
	background: #a8adb4;
	border-radius: 1px;
	position: absolute;
	top: 50%;
	left: 6px;
}