.bx-im-chat-search__container {
	--im-chat-search__background-color_container: var(--im-recent-background-color, #fff);
	--im-chat-search__color_title-text: var(--im-color-palette-gray-60, #959ca4);

	overflow: hidden;
	background-color: var(--im-chat-search__background-color_container);
	padding: 16px 0 16px 6px;
}

.bx-im-chat-search__title {
	height: 32px;
	padding-left: 11px;
	padding-top: 6px;
	overflow: hidden;
	font: var(--im-font-size-md)/var(--im-font-line-height-3xs) var(--im-font-family-system);
	font-weight: var(--im-font-weight-medium);
	color: var(--im-chat-search__color_title-text);
}

.bx-im-chat-search__loader {
	height: 55px;
}
