.ui-side-panel-wrap-workarea {
	background: none;
}

.vote-result__btn {
	background: #1f86ff;
	border-radius: 10px;
	height: 34px;
	border-color: #1f86ff;
}

.vote-result__btn:hover {
	background: #1b71d8;
	border-color: #1b71d8;
}