.bx-im-embedded-promo-start__container {
	--im-embedded-promo-start__background-color_content: rgba(var(--im-color-palette-white-base-rgb), 0.86);
	--im-embedded-promo-start__background-color_feature-icon: rgba(var(--im-color-palette-white-base-rgb), 0.8);
	--im-embedded-promo-start__background-color_feature-icon-shadow: rgba(var(--im-color-palette-black-base-rgb), 0.1);
	--im-embedded-promo-start__background-color_feature-icon-ai: #f7f1fe;
	--im-embedded-promo-start__background-color_invite-border: rgba(var(--im-color-palette-black-solid-rgb), 0.08);
	--im-embedded-promo-start__background-color_invite-action: #0154c8;
	--im-embedded-promo-start__background-color_invite-action-hover: #0143bd;
	--im-embedded-promo-start__background-color_invite-action-underline: rgba(1, 84, 200, 0.28);
	--im-embedded-promo-start__font-color_title: var(--im-color-palette-black-base);
	--im-embedded-promo-start__font-color_title-highlight: var(--im-color-accent-main-primary);
	--im-embedded-promo-start__font-color_tool: var(--im-color-palette-gray-70);
	--im-embedded-promo-start__font-color_feature: var(--im-color-palette-black-base);
	--im-embedded-promo-start__font-color_invite: var(--im-color-palette-gray-90);

	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: var(--im-embedded-promo-start__background-color_content);
	backdrop-filter: blur(24px);
}

/* Title and tools */
.bx-im-embedded-promo-start__title {
	max-width: 80%;
	text-align: center;
	margin-bottom: 18px;
	font: 25px/33px var(--im-font-family-system);
	font-weight: var(--im-font-weight-medium);
	color: var(--im-embedded-promo-start__font-color_title);
}

.bx-im-embedded-promo-start__title-highlight {
	position: relative;
	margin: 0 1px;
	padding-right: 15px;
	color: var(--im-embedded-promo-start__font-color_title-highlight);
}

.bx-im-embedded-promo-start__title-highlight::after {
	box-sizing: border-box;
	content: '';
	position: absolute;
	top: 4px;
	width: 15px;
	height: 15px;
	padding: 0 1px;
	background-image: url('./images/clock.svg');
	background-repeat: no-repeat;
	background-position: center;
}

.bx-im-embedded-promo-start__tools {
	display: flex;
	flex-wrap: wrap;
	max-width: 80%;
	margin-bottom: 32px;
}

.bx-im-embedded-promo-start__tools_item {
	font: var(--im-font-size-sm)/17px var(--im-font-family-system);
	color: var(--im-embedded-promo-start__font-color_tool);
	margin-right: 24px;
}

.bx-im-embedded-promo-start__tools_item:last-of-type {
	margin-right: 0;
}

/* Features and image */
.bx-im-embedded-promo-start__content {
	display: flex;
}

.bx-im-embedded-promo-start__features {
	padding-top: 30px;
	margin-right: 28px;
}

.bx-im-embedded-promo-start__feature_item {
	display: flex;
	align-items: center;
	max-width: 430px;
	margin-bottom: 16px;
}

.bx-im-embedded-promo-start__feature_item:last-child {
	margin-bottom: 0;
}

.bx-im-embedded-promo-start__feature_icon {
	width: 32px;
	height: 32px;
	flex-shrink: 0;
	margin-right: 12px;
	border-radius: 50%;
	background-color: var(--im-embedded-promo-start__background-color_feature-icon);
	background-position: center;
	background-repeat: no-repeat;
	box-shadow: 0 1px 2px 0 var(--im-embedded-promo-start__background-color_feature-icon-shadow);
}

.bx-im-embedded-promo-start__feature_icon.--people {
	background-image: url('./images/people.svg');
}

.bx-im-embedded-promo-start__feature_icon.--shield {
	background-image: url('./images/shield.svg');
}

.bx-im-embedded-promo-start__feature_icon.--ai {
	background-color: var(--im-embedded-promo-start__background-color_feature-icon-ai);
	background-image: url('./images/ai.svg');
}

.bx-im-embedded-promo-start__feature_icon.--invite {
	background-image: url('./images/invite.svg');
}

.bx-im-embedded-promo-start__feature_text {
	font: var(--im-font-size-lg)/20px var(--im-font-family-system);
	color: var(--im-embedded-promo-start__font-color_feature);
	word-break: break-word;
}

.bx-im-embedded-promo-start__invite_item {
	max-width: 430px;
	margin-top: 22px;
	padding: 10px 18px 12px 20px;
	font: var(--im-font-size-md)/22px var(--im-font-family-system);
	white-space: pre-wrap;
	color: var(--im-embedded-promo-start__font-color_invite);
	border-radius: 512px;
	border: 1px solid var(--im-embedded-promo-start__background-color_invite-border);
}

.bx-im-embedded-promo-start__invite-action {
	font-weight: var(--im-font-weight-medium);
	color: var(--im-embedded-promo-start__background-color_invite-action);
	text-decoration: underline;
	text-decoration-style: dashed;
	text-decoration-color: var(--im-embedded-promo-start__background-color_invite-action-underline);
	text-underline-offset: 4px;
	cursor: pointer;

	transition: color 0.2s;
}

.bx-im-embedded-promo-start__invite-action:hover {
	color: var(--im-embedded-promo-start__background-color_invite-action-hover);
}

.bx-im-embedded-promo-start__image {
	width: 380px;
	height: 252px;
	background-image: url('./images/marshmallow.png');
	background-size: cover;
}

@media (max-width: 1550px) {
	.bx-im-embedded-promo-start__content {
		flex-direction: column-reverse;
	}

	.bx-im-embedded-promo-start__image {
		margin-bottom: 22px;
	}

	.bx-im-embedded-promo-start__features {
		display: flex;
		flex-direction: column;
		align-items: center;
		padding-top: 0;
	}

	.bx-im-embedded-promo-start__tools {
		justify-content: center;
	}
}